<nav>
    <a href="/">Home</a>
    <a href="/projects/summary">Projects</a>
    <a href="/projects/addform">Add a project</a>
    <a href="/newuser">New User</a>
    <a href="/signin">Sign In</a>
</nav>