<h1>new User</h1>
<form action="/newuser" method="post">
  <label for="user">User</label>
  <input type="user" id="user" name="user" />

  <label for="email">Email</label>
  <input type="text" id="email" name="email" />

  <label for="password">PW</label>
  <input type="text" id="password" name="password" >

  <button>Submit</button>
</form>